* {
    list-style-type: none;
}

body {
    /*background-color: rgba(239, 242, 246, 1);*/
    background-color: #fff;
}

/* search bar */
.search-bar input {
    width: 280px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
}

.search-bar input:focus-visible {
    outline: none;
}

.search-bar button {
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    background: none;
    line-height: 36px;
}

.search-bar button i {
    font-size: 24px;
    line-height: 36px;
}

/* filters */
.filters > ul {
    display: inline-block;
}

.filters .choice {
    border: none;
    font-size: 16px;
    padding: 3px 16px;
    margin-right: 4px;
    border-radius: 8px;
    background: #fff;
}

.filters .choice:active {
    cursor: default;
}

.filters .choice.active {
    background: #e3c5b8;
}

/* product list */
.product_card {
        cursor: pointer;
}
.product-list .product_card {
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 12px 8px;
    padding: 8px;
}

.product-list .product_card:hover {
    cursor: pointer;
}

.product-list .product_card:active {
    cursor: default;
}

.product-list .product_card img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.product-list .product_card h3,
.product-list .product_card p {
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}

.product-list .product_card h3 {
    margin-top: 12px;
    font-size: 16px;
    text-transform: uppercase;
}

.product-list .product_card p {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
}

.product-list .product_card:hover {
    border: 1px solid #ddd;
}

/*----------------------*/

button.load-more {
    border: 1px solid #000;
    border-radius: 0;
    padding: 8px 24px;
    font-weight: 600;
}

button.load-more:hover {
    background-color: rgba(227, 197, 184, 1);
}