.search-box {
    max-width: 700px;
    text-align: left;
    margin: 120px auto 60px auto;;
}

.search-box input {
    width: calc(100% - 50px);
    height: 3em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: none;
    color: rgb(var(--black));
}

.search-box input:focus {
    border-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.search-box button {
    border: none;
}

.search-box button:hover {
    opacity: .7;
}

.product-item:hover {
    cursor: pointer;
}

.product-item img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}
.product-img img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.product-item {
    border: 1px solid rgba(255, 255, 255, 0);
}

.product-item:hover {
    cursor: pointer;
}

.product-content h3,
.product-content p {
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}

.product-content h3 {
    margin-top: 12px;
    font-size: 16px;
    text-transform: uppercase;
}

.product-content p {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
}

.product-item:hover {
    border: 1px solid #ddd;
}
