<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <th:block th:insert="~{/fragments/heading/heading :: heading(title='Order')}" />
<body>
  <th:block th:replace="~{fragments/util/header :: header}"/>
  <div class="order min-vh-100 container-fluid p-5">
    <div class="row mb-2 m-0">
      <h2 class="p-0">My order</h2>
    </div>
    <div class="row m-0">
      <div class="col-md-12">
        <div class="order--category d-flex justify-content-between row mx-0 mb-3">
          <div class="col-md-4 col-10 p-0">NAME</div>
          <div class="col-md-2 col-10 ps-0">TOTAL</div>
          <div class="col-md-2 col-10">ORDER DATE</div>
          <div class="col-md-2 col-10">STATUS</div>
          <div class="col-md-2 col-10"></div>
        </div>
        <div class="line mx-0 mt-0" style="background-color: #909090;"></div>
        <div class="row d-flex flex-column">
          <div class="order-item__list col d-flex flex-column gap-4">
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
  <script th:src="@{/js/user/order.js}"></script>
</body>
</html>