<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<th:block th:insert="~{/fragments/heading/heading :: heading(title='Search')}" />
<body>
  <th:block th:insert="~{fragments/util/header :: header}"/>
  <div class="min-vh-100">
    <form action="" class="search-box ">
      <h2 class="fw-light mb-4 fs-1">Search</h2>
      <input id="search" type="search" placeholder="Enter product name or collection name" class="p-0">
      <button class="search--button" type="submit">
        <i class="bi bi-search search-box-icon"></i>
      </button>
    </form>

    <div class="product-list row row-cols-1 row-cols-sm-2 row-cols-md-3 m-0 mt-3 p-0"></div>
  </div>


  <th:block th:insert="~{fragments/util/footer :: footer}"/>
    <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
  <script th:src="@{/js/user/search.js}"></script>
</body>
</html>