<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between px-5">
    <div class="header__logo">
        <img th:src="@{/images/logo.png}" alt="" />
    </div>
    <div class="header__menu">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="header__icons">
        <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="bi bi-cart2"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="bi bi-person"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>