<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mail Success</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- use the font -->
  <style>
    @media screen and (max-width: 768px) {
      table {
        min-width: auto;
        width: 100%;
      }
    }
  </style>
</head>
<body>
<div>
  <h1>Seesaw</h1>
  <p>Woo hoo! Your order is on its way. Your order details can be found below.</p>
  <p>TRACK YOUR ORDER <a href="#"></a></p>
  <p>ORDER SUMMARY:</p>
  <p th:text="'Order of ' + ${name} "></p>
  <p th:text="'Order #' + ${number}"></p>
  <p th:text="'Order Date: ' + ${date}"></p>
  <p th:text="'Order Total: ' + ${price}"></p>
  <p th:text="'SHIPPING ADDRESS: ' + ${address}"></p>
  <p th:text="'List product: ' + ${products}"></p>
  <p>ITEMS SHIPPED QTY PRICE</p>
  <p>Thank you for your order,</p>
  <p>Seesaw</p>
</div>
</body>
</html>