<!-- Home -->
<div th:fragment="home" class="container-fluid p-0">
    <div class="homepage m-0">
        <div
                class="banner row d-flex justify-content-center align-items-center p-5 m-0"
        >
            <div class="banner__text col-4">
                <h1>Glasses for everyone</h1>
                <p class="mt-3">Made for you, to you</p>
            </div>
            <div class="banner__image col-4">
                <img
                        th:src="@{/images/banner.png}"
                        alt=""
                />
            </div>
        </div>
        <div class="categories text-center">
            <h2>Categories</h2>
            <div
                    class="categories__items d-flex justify-content-center row m-0 py-3"
            >
                <div class="col-md-3 col-sm-6 col-10" style="max-width: 20rem">
                    <img
                            th:src="@{/images/categories1.png}"
                            alt="..."
                    />
                    <p class="fw-bold mt-3">Frames</p>
                </div>
                <div class="col-md-3 col-sm-6 col-10" style="max-width: 20rem">
                    <img
                            th:src="@{/images/categories2.png}"
                            alt="..."
                    />
                    <p class="fw-bold mt-3">Sunglasses</p>
                </div>
                <div class="col-md-3 col-sm-6 col-10" style="max-width: 20rem">
                    <img
                            th:src="@{/images/categories3.png}"
                            alt="..."
                    />
                    <p class="fw-bold mt-3">Accessories</p>
                </div>
            </div>
        </div>
        <div class="collections text-center">
            <h2>Our latest collections</h2>
            <button class="collections__button mb-5 mt-2" role="button">
                Shop all
            </button>
            <div class="container-fluid p-0">
                <div
                        class="collections__items d-flex justify-content-center row me-0"
                >
                    <img
                            th:src="@{/images/collections1.png}"
                            class="mt-5 mx-1 col-3"
                            alt=""
                    />
                    <img
                            th:src="@{/images/collections2.png}"
                            class="mt-2 mb-5 mx-1 col-3"
                            alt=""
                    />
                    <img
                            th:src="@{/images/collections3.png}"
                            class="mt-5 mb mx-1 col-3"
                            alt=""
                    />
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="products text-center">
                <div class="">
                    <h2>Our products</h2>
                    <button class="collections__button mb-5 mt-2" role="button">
                        Shop all
                    </button>
                </div>
                <div class="product__items d-flex justify-content-center row me-0">
                    <div class="col-3" style="width: 20rem">
                        <img
                                class=""
                                th:src="@{/images/product1.png}"
                                alt="Card image cap"
                        />
                        <div class="mt-3">
                            <h5 class="">Jae Namaz</h5>
                            <p class="">$99</p>
                        </div>
                    </div>
                    <div class=col-3"" style="width: 20rem">
                        <img
                                class=""
                                th:src="@{/images/product2.png}"
                                alt="Card image cap"
                        />
                        <div class="mt-3">
                            <h5 class="">Dates</h5>
                            <p class="">$99</p>
                        </div>
                    </div>
                    <div class="col-3" style="width: 20rem">
                        <img
                                class=""
                                th:src="@{/images/product3.png}"
                                alt="Card image cap"
                        />
                        <div class="mt-3">
                            <h5 class="">Mist</h5>
                            <p class="">$99</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>