<!-- Home -->
<div th:fragment="home" class="container-fluid p-0">
    <div class="homepage m-0">
        <div
                class="banner row d-flex justify-content-center align-items-center p-5 m-0"
        >
            <div class="banner__text col-md-4 col-10">
                <h1>Glasses for everyone</h1>
                <p class="mt-3">Made for you, to you</p>
            </div>
            <div class="banner__image col-md-4 col-10">
                <img
                        th:src="@{/images/banner.png}"
                        alt="error"
                />
            </div>
        </div>
        <div class="categories text-center">
            <h2>Categories</h2>
            <div
                    class="categories__items d-flex justify-content-center row m-0 py-3"
            >
            </div>
        </div>
        <div class="collections text-center">
            <h2>Our latest collections</h2>
<!--            <button class="collections__button mb-5 mt-2" role="button">-->
<!--                Shop all-->
<!--            </button>-->
            <div class="container-fluid p-0 mt-5">
                <div
                        class="collections__items d-flex justify-content-center row me-0"
                >

                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="products text-center">
                <div class="">
                    <h2>Our products</h2>
                    <button class="products__list--button collections__button mb-5 mt-2" role="button">
                        Shop all
                    </button>
                </div>
                <div class="product__items d-flex justify-content-center row me-0">
                </div>
            </div>
        </div>
    </div>
</div>