<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<form action="/" method="post" id="formSignUp">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" id="firstName">
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword">
    </div>
    <div class="mb-3">
        <label>Gender</label>
        <input type="text" class="form-control" id="gender">
    </div>
    <div class="mb-3">
        <label>Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber">
    </div>
    <div>
        <span class="error mb-3" style="height: 100px; width: 100px"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="signUpButton">Submit</button>
</form>
</div>

<!--    <script src="https://kit.fontawesome.com/39faf08d8f.js" crossorigin="anonymous"></script>-->
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/font-awesome/6.4.0/js/fontawesome.min.js}"></script>
<script th:src="@{/js/auth/signUp.js}"></script>
</body>
</html>